*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: rgba(128, 128, 128, 0.205);
  background-image: url(./img/fffmin.jpg);
  background-size: cover;
  background-blend-mode: darken;
  background-repeat: no-repeat;
}

.text-content{
  padding: 30px;
  padding-left: 200px;
  padding-top: 30px;
}

.text-content h1{
  font-size: 3rem;
  font-weight: 600;
}

.text-content p{
  width: 50%;
  color: rgb(49, 49, 49);
  line-height: 20px;
}

.cards{
  width: 100%;
  display: flex;
  justify-content: center;
}

.card{
  height: 400px;
  width: 300px;
  background-color: white;
  padding: 20px;
  margin: 10px;
}

.card h3{
  text-transform: uppercase;
  color: #FCEC18;
  padding-top: 10px;
  font-size: 1.1rem;
}

.card img{
  width: 250px;
  height: 200px;
}

.card p{
  width: 100%;
  color: grey;
  padding-top: 10px;
  font-size: .8rem;
  font-style: italic;
}